:root {
    --main-color1: #0e2240;
    --main-color2: #fec524 ;
    --main-color3: #8b2131;
    --main-color4: black;
    --main-color5: white;
    --main-color6: #4F92CE;
    --main-color7: #bfbfbf;

    --main-card-width: 290px;
}

body {
   background-color: var(--main-color1);
    overflow:scroll;
}

#bets_card {
    background-color: var(--main-color6);
    margin-bottom: 20px;
}

#bets_card_small {
    background-color: var(--main-color6);
    margin-bottom: 20px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#bets_card_small ul {
    list-style-type: none;
    padding: 0;
    max-width: var(--main-card-width);
    list-style-position: inside;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: var(--main-card-width);
    -moz-column-width: var(--main-card-width);
    column-width: var(--main-card-width);
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}



#bets_card ul {
    list-style-type: none;
    padding: 0;
    max-width: 610px;
    list-style-position: inside;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 290px;
    -moz-column-width: 290px;
    column-width: 290px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

@media only screen and (max-width: 780px) {
  #bets_card ul  {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}


.game_card {
    background-color: var(--main-color7);
    margin-bottom: 0px;
    width: var(--main-card-width);
}



.game_card_button {
    width: 100%;
    position: relative;
    text-align: left;
    background-color: #f2f2f2;
    padding: 5px;

}


.container_name {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color2) !important;
    margin-left: 15px;
}


#top_nav{
    background-color: #333333 !important;
}
#bottom_nav{
    background-color: var(--main-color6) !important;
}

#top_nav_ul li a {
    color:  #f2f2f2  !important;
}

#bottom_nav_ul li a {
    color: var(--main-color2) !important;
}

#bottom_dd {
    background-color: var(--main-color6) !important;
}

#navbarDropdownMenuLink:focus  {
    outline: var(--main-color6) none 0px !important;
}

.row:focus  {
    outline: transparent none 0px !important;
}




.game_card_button:focus  {
    outline: transparent none 0px !important;
}

.button:focus  {
    outline: transparent none 0px !important;
}


.navbar-brand {
   font-size: 26px;
    color: var(--main-color1) !important;
    font-weight: bolder;
}


#model_date {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--main-color1);
    color: var(--main-color2);
    border-style: none;
    height: 30px;
    border-width: 0px;
    width: 200px;
}

#submit {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: var(--main-color1);
    color: var(--main-color2);
    height: 30px;
    border-style: none;
    border-width: 0px;
    width: 200px;
}

#submit:focus {
    outline: transparent none 0px !important;
}
#model_date:focus {
    outline: transparent none 0px !important;
}


#calendar_form {
    max-width: 290px;
    margin-left: 15px;
    padding-top: 20px;
    padding-left: 30px;
    /*background-color: #1c7430;*/
}

#dbdf_col {
    /*background-color: yellow;*/
    max-width: 290px;
    margin-left: 25px;
}



.card {
    margin-bottom: 10px;
}



.table-hover tbody tr:hover {
    background-color: var(--main-color7) !important;
}



#stats_col {
    margin-top: 25px;
    /*display: none;*/
}

#wos_row {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 290px;

}

#dbar_row {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 290px;

}

#pac_row {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 290px;

}

#bb_row {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 290px;

}

@media only screen and (max-width: 320px) {
    #bb_row {
        display: none !important;
    }
    #pac_row {
        display: none !important;
    }
    #dbar_row {
        display: none !important;
    }
    #wos_row {
        display: none !important;
    }
}



.footer {
    background-color: #333333;
    color: #f2f2f2;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer_links {
    color: #f2f2f2;
    font-size: 16px;
}

.footer_links ul {
    list-style-type: none;
}

.footer_links ul li {
    display: inline !important;

}

.footer_links ul li a {
    text-decoration: none;
    color: #f2f2f2;
    margin-right: 30px;
    padding: 0.5rem 1rem;
}


.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope {
  background: black;
  color: white;
}



.nice_table {
    background-color: var(--main-color6);
    color: var(--main-color2);
    font-size: 14px;
    border-style: None !important;
    border-width: 0 !important;
    border-color: var(--main-color6);
    padding: 10px !important;

}


.nice_table thead tr {
    text-align: center !important;
    background-color: var(--main-color6);
    color: var(--main-color2);
    font-size: 12px;
    outline-color: var(--main-color6);
    border-color: var(--main-color6);
}

.nice_table thead tr th{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.nice_table tbody tr {
    border-top-style: solid;
    border-top-color: var(--main-color2);
    border-top-width: 1px;
    padding: 10px !important;
    border-left-color: var(--main-color6);
    border-right-color: var(--main-color6);
    border-bottom-color: var(--main-color6);
}

.nice_table tbody tr td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-left-color: var(--main-color6);
    border-right-color: var(--main-color6);
    border-bottom-color: var(--main-color6);
}

#league_name_row {
    margin-bottom: 20px;
}


#dbdf_df thead {
    display: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom-color: var(--main-color6);

}

#dbdf_df {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}


.long_text  {
    max-width: 560px;
    background-color: var(--main-color6);
    color: var(--main-color2);
    font-size: 16px;
    padding: 30px;
    margin-bottom: 20px;
}


#main_bar {
    /*width: var(--main-card-width);*/
    width: 250px;
    height: 8px;
    border-radius: 0px;
    margin-left: 10px;
}
#blue_bar {
    background-color: var(--main-color6) !important;
}
#yellow_bar {
    background-color: var(--main-color2) !important;
}

#game_card_pred {
    padding-bottom: 10px;
}

#left_team {
    width: 150px;
}
#right_team {
    width: 150px;
    padding-right: 15px !important;
}


#left_team a {
    text-align: left;
    font-size: 13px;
    float: left;
    padding-bottom: 5px;
    /*font-weight: bolder;*/
}

#right_team a {
    text-align: right;
    font-size: 13px;
    float: right;
    padding-bottom: 5px;
    /*font-weight: bolder;*/
}

.game_card_button:hover { background-color: var(--main-color7); }

#game_card_top_row {
    font-size: 10px;
    padding-bottom: 12px;
    padding-top: 5px;
    font-weight: normal;
}


.game_card_inner {
    padding: 15px;

}

#game_card_bottom {
    font-size: 14px;
    font-weight: normal;
}


