
{% extends "base.html" %}

{% block content %}

<br>
<head>
    <meta charset="UTF-8">
    <title>chess vis</title>

</head>
<body>

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-2">
            <div class="container-fluid" id="log_window">
            </div>
        </div>
        <div class="col-lg-10">
            <div class="container-fluid" id="chess_board">
                <table class="chessboard">
                    <tr class="chessboard">
                        <td class="chessboard" id="a8">A8</td>
                        <td class="chessboard" id="b8">B8</td>
                        <td class="chessboard" id="c8">C8</td>
                        <td class="chessboard" id="d8">D8</td>
                        <td class="chessboard" id="e8">E8</td>
                        <td class="chessboard" id="f8">F8</td>
                        <td class="chessboard" id="g8">G8</td>
                        <td class="chessboard" id="h8">H8</td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a7"  >A7 <img id="p_b_a7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="b7"  >B7 <img id="p_b_b7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black "></td>
                        <td class="chessboard" id="c7"  >C7 <img id="p_b_c7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="d7"  >D7 <img id="p_b_d7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="e7"  >E7 <img id="p_b_e7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="f7"  >F7 <img id="p_b_f7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="g7"  >G7 <img id="p_b_g7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                        <td class="chessboard" id="h7"  >H7 <img id="p_b_h7" src="static/figures/pawn_black.png" ondragstart="drag(event)" class="figure pawn black"></td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a6"  >A6</td>
                        <td class="chessboard" id="b6"  >B6</td>
                        <td class="chessboard" id="c6"  >C6</td>
                        <td class="chessboard" id="d6"  >D6</td>
                        <td class="chessboard" id="e6"  >E6</td>
                        <td class="chessboard" id="f6"  >F6</td>
                        <td class="chessboard" id="g6"  >G6</td>
                        <td class="chessboard" id="h6"  >H6</td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a5"  >A5</td>
                        <td class="chessboard" id="b5"  >B5</td>
                        <td class="chessboard" id="c5"  >C5</td>
                        <td class="chessboard" id="d5"  >D5</td>
                        <td class="chessboard" id="e5"  >E5</td>
                        <td class="chessboard" id="f5"  >F5</td>
                        <td class="chessboard" id="g5"  >G5</td>
                        <td class="chessboard" id="h5"  >H5</td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a4"  >A4</td>
                        <td class="chessboard" id="b4"  >B4</td>
                        <td class="chessboard" id="c4"  >C4</td>
                        <td class="chessboard" id="d4"  >D4</td>
                        <td class="chessboard" id="e4"  >E4</td>
                        <td class="chessboard" id="f4"  >F4</td>
                        <td class="chessboard" id="g4"  >G4</td>
                        <td class="chessboard" id="h4"  >H4</td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a3"  >A3</td>
                        <td class="chessboard" id="b3"  >B3</td>
                        <td class="chessboard" id="c3"  >C3</td>
                        <td class="chessboard" id="d3"  >D3</td>
                        <td class="chessboard" id="e3"  >E3</td>
                        <td class="chessboard" id="f3"  >F3</td>
                        <td class="chessboard" id="g3"  >G3</td>
                        <td class="chessboard" id="h3"  >H3</td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a2"  >A2 <img id="p_w_a2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="b2"  >B2 <img id="p_w_b2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="c2"  >C2 <img id="p_w_c2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="d2"  >D2 <img id="p_w_d2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="e2"  >E2 <img id="p_w_e2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="f2"  >F2 <img id="p_w_f2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="g2"  >G2 <img id="p_w_g2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                        <td class="chessboard" id="h2"  >H2 <img id="p_w_h2" src="static/figures/pawn_white.png" ondragstart="drag(event)"  class="figure pawn white"></td>
                    </tr>
                    <tr class="chessboard">
                        <td class="chessboard" id="a1"  >A1</td>
                        <td class="chessboard" id="b1"  >B1</td>
                        <td class="chessboard" id="c1"  >C1</td>
                        <td class="chessboard" id="d1"  >D1</td>
                        <td class="chessboard" id="e1"  >E1</td>
                        <td class="chessboard" id="f1"  >F1</td>
                        <td class="chessboard" id="g1"  >G1</td>
                        <td class="chessboard" id="h1"  >H1</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}